<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>bitcoin</string>
		<key>symbol</key>
		<string>btc</string>
		<key>name</key>
		<string>Bitcoin</string>
		<key>isActive</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>ethereum</string>
		<key>symbol</key>
		<string>eth</string>
		<key>name</key>
		<string>Ethereum</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>tether</string>
		<key>symbol</key>
		<string>usdt</string>
		<key>name</key>
		<string>Tether</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>polkadot</string>
		<key>symbol</key>
		<string>dot</string>
		<key>name</key>
		<string>Polkadot</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>ripple</string>
		<key>symbol</key>
		<string>xrp</string>
		<key>name</key>
		<string>XRP</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>cardano</string>
		<key>symbol</key>
		<string>ada</string>
		<key>name</key>
		<string>Cardano</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>litecoin</string>
		<key>symbol</key>
		<string>ltc</string>
		<key>name</key>
		<string>Litecoin</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>bitcoin-cash</string>
		<key>symbol</key>
		<string>bch</string>
		<key>name</key>
		<string>Bitcoin Cash</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>chainlink</string>
		<key>symbol</key>
		<string>link</string>
		<key>name</key>
		<string>Chainlink</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>stellar</string>
		<key>symbol</key>
		<string>xlm</string>
		<key>name</key>
		<string>Stellar</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>binancecoin</string>
		<key>symbol</key>
		<string>bnb</string>
		<key>name</key>
		<string>Binance Coin</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>usd-coin</string>
		<key>symbol</key>
		<string>usdc</string>
		<key>name</key>
		<string>USD Coin</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>wrapped-bitcoin</string>
		<key>symbol</key>
		<string>wbtc</string>
		<key>name</key>
		<string>Wrapped Bitcoin</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>monero</string>
		<key>symbol</key>
		<string>xmr</string>
		<key>name</key>
		<string>Monero</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>eos</string>
		<key>symbol</key>
		<string>eos</string>
		<key>name</key>
		<string>EOS</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>vechain</string>
		<key>symbol</key>
		<string>vet</string>
		<key>name</key>
		<string>VeChain</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>theta-token</string>
		<key>symbol</key>
		<string>theta</string>
		<key>name</key>
		<string>Theta Network</string>
        <key>isActive</key>
        <true/>
	</dict>
	<dict>
		<key>id</key>
		<string>dogecoin</string>
		<key>symbol</key>
		<string>doge</string>
		<key>name</key>
		<string>Dogecoin</string>
        <key>isActive</key>
        <true/>
	</dict>
</array>
</plist>
